<h1>EDITANDO</h1>

<%= @admin.inspect %>

<% if @admin.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= form_with(model: [:admins_backoffice, @admin]) do |form| %>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control"  %>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.text_field :password, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirfimation %>
    <%= form.text_field :password_confirfimation, class:"form-control" %>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
<% end %>