<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <h1>LAYOUT ADMINS</h1>
    <%= link_to 'Listas de Administradores', admins_backoffice_admins_index_path %>
    <h1><%= action_name %></h1>

    <% if notice %>
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          <%= notice %>
        </div>
      </div>
    <% end %>

    <%= link_to admins_backoffice_subjects_path do %>
      <button type="submit" class="btn btn-primary">Assuntos/Áreas</button>
    <% end %>

    <%= link_to admins_backoffice_questions_path do %>
      <button type="submit" class="btn btn-primary">Perguntas</button>
    <% end %>

    <%= yield %>

  </body>
</html>
