<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="d-grid gap-2 col-6 mx-auto card" style="width: 25rem;">
        <div class="card-body">
          <h1>LAYOUT USER DEVISE</h1>
          <p class="card-text"><%= yield %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>  
  </body> 
</html>